@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Settings</title>
</head>
<body>
    <div>
        <form action="/MLog/Transition_SetServerMappathManual" method="post">
            <br />
            <input type="text" name="server_mappath" placeholder="Enter Server Mappath"/>
            <br/>
            <input type="submit" value="SAVE"/>
        </form>
    </div>
</body>
</html>
