@{
    ViewBag.Title = "Akgül Yemek - Galeri Listele";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@using Akgul_Yemek.Models

@{
    List<gallery_titles> albume_list = (List<gallery_titles>)ViewData["gallery_titles"];
    gallery_categories this_albume_category = (gallery_categories)ViewData["gallery_category"];
}


<div class="col-md-8">

    
    <div class="row" style="margin:1px;">

        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">GALERİ EKLE</div>

            <div class="panel-body">
                <form action="/Admin_Site/Transition_GaleriTitleEkle" method="post">
                    <div class="input-group">

                        <input type="hidden" name="category_id" value="@this_albume_category.id" />
                        <input name="title" type="text" class="form-control" style="margin: 10px;" placeholder=" Galeri Adı Girin..">


                        <input name="keywords" type="text" class="form-control" style="margin: 10px;" placeholder="Anahtar Kelimeler Girin..">
                    </div>


                    <button class="btn btn-success" style="margin: 10px;" type="submit">Galeriyi Kaydet</button>
                </form>
            </div>
        </div>


        <hr />
        <br />
        <br />

        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Galeriler</div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Galeri Adı</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < albume_list.Count; i++)
                    {
                        gallery_titles albume = albume_list.ElementAt(i);

                        <tr>
                            <td>@albume.title</td>
                            <td>
                                <a class="btn btn-danger" data-toggle="confirmation" data-title="Galeri Silinsin mi?"
                                   href="/Admin_Site/Transition_GaleriTitleSil/@albume.id" data-btn-ok-label="Evet" data-btn-cancel-label="Hayır">Sil</a>
                                <a class="btn btn-warning" href="/Admin_Site/Galeri_Detay/@albume.id">Düzenle</a>
                            </td>
                        </tr>

                    }


                </tbody>
            </table>
        </div>
    </div><!-- /.row -->

</div><!-- /.col- -->
