@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_Uye.cshtml";
}


<div class="container" style="margin-top:0px">
    <div class="col-md-12">
        <div class="modal-dialog" style="margin-bottom:0">
            <div class="modal-content">
                <div class="panel-heading">
                    <center>
                            <a class="" href="#">
                                <img width="160" height="160" src="~/Content/images/akgul-logo.jpeg" />
                            </a>
                    </center>
                </div>
                <div class="panel-body">
                    
                    <center>
                        <h3 >HATA</h3>
                    </center>
                    
                    <hr />

                    <center>
                        <div class="form-group">
                            <label style="color:red;font-size:15px;">
                                Sistemde Bir Hata Oluştu.
                            </label>

                            <hr />
                            <a href="/Organizasyonlar/Listele" class="btn btn-info">SİTEYE DÖN</a>
                        </div>
                    </center>
                    
                </div>
            </div>
        </div>
    </div>
    <hr>

</div>
