*/obj/*
Akgul_Yemek/Akgul_Yemek/obj/Debug/Akgul_Yemek.csprojResolveAssemblyReference.cache
*.cache
*.pdb
*.suo
Akgul_Yemek/Akgul_Yemek.v12.suo
Akgul_Yemek/Akgul_Yemek/bin/Akgul_Yemek.dll
*.suo
Akgul_Yemek/Akgul_Yemek/bin/Akgul_Yemek.dll
Akgul_Yemek/Akgul_Yemek/obj/Release/*
Akgul_Yemek/Akgul_Yemek/obj/x64/Release/Package/PackageTmp/bin/Antlr3.Runtime.dll
Akgul_Yemek/Akgul_Yemek/obj/*