@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>HATA.</h1>
        <h2>Web isteği işlenirken bir hata oluştu.
            <br/>veya
            <br/>Sayfa bulunamadı.
        </h2>
        @RenderBody()
    </hgroup>
</body>
</html>